// ------------------------------------
//
// Colors
//
// ------------------------------------

$color-red: #F40101;
$color-red-light: #ED3B35;

$color-black: #1D1B1B;
$color-grey-dark: #525050;
$color-grey-light: #969393;
$color-pink-light: #FCEAE9;

$color-white: #FFFFFF;
$color-white-accent: #F5F5F6;
$color-shadow: #D3D3D3;

$color-grey-text: #E0DFDF;